<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');?>
<script type="text/javascript" src="<?=base_url('assets/easyui/datagrid-filter.js')?>"></script>
<script type="text/javascript" src="<?=base_url('assets/easyui/datagrid-scrollview.js')?>"></script>
<table id="dg" style="width:500px;height:250px"
			title="DataGrid - VirtualScrollView"
			data-options="rownumbers:true,singleSelect:true,autoRowHeight:false,pageSize:50">
		<thead>
			<tr>
				<th field="inv" width="80">Inv No</th>
				<th field="date" width="100">Date</th>
				<th field="name" width="80">Name</th>
				<th field="amount" width="80" align="right">Amount</th>
				<th field="price" width="80" align="right">Price</th>
				<th field="cost" width="100" align="right">Cost</th>
				<th field="note" width="110">Note</th>
			</tr>
		</thead>
	</table>
<script type="text/javascript">
var rows = [];
for(var i=1; i<=800; i++){
    var amount = Math.floor(Math.random()*1000);
    var price = Math.floor(Math.random()*1000);
    rows.push({
        inv: 'Inv No '+i,
        date: $.fn.datebox.defaults.formatter(new Date()),
        name: 'Name '+i,
        amount: amount,
        price: price,
        cost: amount*price,
        note: 'Note '+i
    });
}

$('#dg').datagrid({view:scrollview}).datagrid('enableFilter')
$('#dg').datagrid('loadData',rows);
</script>